/* OBSOLETE CODE
@keyframes ping_anim 
{
    0% 
    {
        position: relative;
        top:0px;
        opacity: 1;
    }
    75% 
    {
        position: relative;
        top:100px;
        opacity: 1;
    }
    99%
    {
        position: relative;
        top: 120px;
        opacity: 0;
    }
    100% 
    {
        visibility: hidden;
    }
}


.ping_hide
{
    visibility: hidden;
    background: url(ping_missing.webp)
}

.ping_show 
{
    visibility: hidden;
    position: absolute;
    width: 128px;
    height: 128px;
    animation-name: ping_anim;
    animation-duration: 3s;
    animation-iteration-count: 0;
    background: url(ping_missing.webp) 0 0;
} */



@keyframes anima
{
    0%
    {
        visibility: visible;
        transform: scale(0);
    }
    25%
    {
        visibility: visible;
        transform: scale(1);
    }
    100%
    {
        visibility: visible;
        transform: scale(0.001);
    }
}



/* img
{
    animation-name: anima;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-delay: 100ms;
} */

#main_canvas
{
    resize: none;
    width: 1920px;
    height: 1080px;
}